asgiref==3.9.0
audioop-lts==0.2.1
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
Django==4.2.7
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-speech==2.33.0
google-cloud-texttospeech==2.27.0
googleapis-common-protos==1.70.0
grpcio==1.73.1
grpcio-status==1.73.1
idna==3.10
numpy==2.3.1
proto-plus==1.26.1
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.11
python-dotenv==1.1.1
requests==2.32.4
rsa==4.9.1
SpeechRecognition==3.10.0
sqlparse==0.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
urllib3==2.5.0
