{% extends 'base.html' %}
{% load static %}

{% block header_title %}Session Not Found{% endblock %}
{% block header_subtitle %}The requested exam session could not be found{% endblock %}

{% block content %}
<div class="error-container">
    <div class="error-card">
        <div class="error-icon">
            <i class="fas fa-search"></i>
        </div>
        <h2>Session Not Found</h2>
        <p>We couldn't find the exam session you're looking for. This might be because:</p>
        <ul>
            <li>The session ID is incorrect</li>
            <li>The session has expired</li>
            <li>The session has been deleted</li>
        </ul>
        <div class="error-actions">
            <a href="{% url 'exam:exam_session' %}" class="control-button primary">
                <i class="fas fa-home"></i> Return to Home
            </a>
        </div>
    </div>
</div>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/session_not_found.css' %}">
{% endblock %}
{% endblock %}
